img{max-width: 100%}

#numCaso:hover
{
	color:#12e6e6;
}

.error,.exito
{
	background: red;
	color: white;
	padding: 1em;
}

.exito{background: green;}

.mistrong:hover{
	color: #0209ea;
}

.navcea{
	background: #028bea;
}