*{margin:0;}
table {
   width: 100%;
}

table.fraccionamiento {
	text-align:left;
	border: black 1px solid;
	border-collapse: collapse;
	font-size: 14px;
}
table.info {
	font-size: 14px;
}
table.DatosDocumento {
	font-size: 14px;
}
table.DatosReqAgua {
	font-size: 14px;
}

table td.titulofraccionamiento{
  color: #fff;
  background-color: #000000;
}

td.titulofraccionamiento {
   width: 100%;
   text-align: left;
   border: 1px solid #000;
}


table.DatosGenerales {
	text-align:left;
	border: black 1px solid;
	border-collapse: collapse;
	font-size: 20px;
	width: 50%;
}

td.tituloDatosGenerales {
   width: 50%;
   text-align: left;
   border: 1px solid #000;
}

table td.tituloDatosGenerales{
  color: #fff;
  background-color: #000000;
  font-size: 20px;
}



table.DatosFiscales {
	text-align:left;
	border: black 1px solid;
	border-collapse: collapse;
	font-size: 20px;

}

td.tituloDatosFiscales {
   text-align: left;
   border: 1px solid #000;
}

table td.tituloDatosFiscales{
  color: #fff;
  background-color: #000000;
  font-size: 20px;
}

table.representante {
	text-align:left;
	border: black 1px solid;
	border-collapse: collapse;
	font-size: 14px;
}

table.DatosPredio {
	text-align:left;
	border: black 1px solid;
	border-collapse: collapse;
	font-size: 20px;

}

td.tituloDatosPredio {

   text-align: left;
   border: 1px solid #000;
   WIDTH:50px;
}

table td.tituloDatosPredio{
  color: #fff;
  background-color: #000000;
  font-size: 20px;
}


table.DatosSolicitud {
	text-align:left;
	border: black 1px solid;
	border-collapse: collapse;
	font-size: 14px;
}

td.tituloDatosSolicitud {
   width: 0%;
   text-align: left;
   border: 1px solid #000;
}

table td.tituloDatosSolicitud{
  color: #fff;
  background-color: #000000;
  font-size: 14px;
}

table.DatosRepresentante{
	text-align:left;
	border: black 1px solid;
	border-collapse: collapse;
	font-size: 20px;
}

td.tituloDatosRepresentante{
   width: 0%;
   text-align: left;
   border: 1px solid #000;
}

table td.tituloDatosRepresentante{
  color: #fff;
  background-color: #000000;
  font-size: 20px;
}